/*
 * Copyright (c) 2011-2018 JFXtras
 *  All rights reserved.
 *
 *  Redistribution and use in source and binary forms, with or without
 *  modification, are permitted provided that the following conditions are met:
 *      * Redistributions of source code must retain the above copyright
 *        notice, this list of conditions and the following disclaimer.
 *      * Redistributions in binary form must reproduce the above copyright
 *        notice, this list of conditions and the following disclaimer in the
 *        documentation and/or other materials provided with the distribution.
 *      * Neither the name of the organization nor the
 *        names of its contributors may be used to endorse or promote products
 *        derived from this software without specific prior written permission.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 *  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 *  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 *  DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
 *  DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 *  (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 *  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 *  ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 *  SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

.header{
    -fx-font-size: 3.5em;
    -fx-font-family: "Segoe UI Light";
}

.item-title{
    -fx-font-size: 1em;
    -fx-font-family: "Segoe UI";
}

/* Layout containers */
Pane, AnchorPane, BorderPane, DialogPane, FlowPane, GridPane, HBox, StackPane, TextFlow, TilePane, VBox {
    -fx-background-color: background_color;
}

.root {
    /* Root variables */
    accent_color: #0078d7;
}


/*******************************************************************************
 *                                                                             *
 * Common Styles                                                               *
 *                                                                             *
 * These are styles that give a standard look to a whole range of controls     *
 *                                                                             *
 ******************************************************************************/

/* ====   CONTROLS WITH ARROW BUTTONS ======================================= */

.combo-box-base > .arrow-button > .arrow,
.choice-box > .open-button > .arrow,
.menu-button > .arrow-button > .arrow {
    -fx-padding: 0.208em 0.358em 0.208em 0.358em; /* 2.5px 4.29px 2.5px 4.29px */
    -fx-shape: "M21.361,12.736l0.527,0.527L16,19.152l-5.889-5.889l0.527-0.527L16,18.098L21.361,12.736z";

    -fx-background-color: arrow_color;
}

/*.menu-button:openvertically > .arrow-button {*/
/*    -fx-padding: 0 1em 0 0;          !* 0 12 0 0 *!*/
/*}*/

/*.menu-button > .arrow-button {*/
/*    -fx-padding: 0 1em 0 0.166667em; !* 0 12 0 2 *!*/
/*}*/

.menu-button:openvertically > .arrow-button > .arrow {
    -fx-shape: "M 4.21875 10.78125 L 2.78125 12.21875 L 15.28125 24.71875 L 16 25.40625 L 16.71875 24.71875 L 29.21875 12.21875 L 27.78125 10.78125 L 16 22.5625 Z ";
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

.label {
    -fx-text-fill: text_color;
}

/*******************************************************************************
 *                                                                             *
 * Button and ToggleButton                                                     *
 *                                                                             *
 ******************************************************************************/

.button, .toggle-button {
    -shrink-animate-on-press: true;
}


.button, .toggle-button {
    -fx-border-color: transparent;
    -fx-border-width: 2;

    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: button_background_color;

    -fx-font-family: "Segoe UI";
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: text_color;
}

.button:hover, .toggle-button:hover{
    -fx-border-color: border_hover_color;
}

.button:pressed, .toggle-button:pressed
{
    -fx-border-color: background_pressed_color;
    -fx-background-color: background_pressed_color;
}

.button:focused, .toggle-button:focused
{
    -fx-border-color: transparent, focus_ring_border_color;
    -fx-border-width: 1, 1;
    /*noinspection CssInvalidFunction*/
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled, .toggle-button:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: button_background_color;
    -fx-text-fill: text_color;
}

/****************************** Button ****************************************/

.button:default
{
    -fx-background-color: accent_color;
    -fx-text-fill: default_button_text_color;
}

.button:default:hover{
    -fx-border-color: border_hover_default_color;
}

.button:default:pressed {
    -fx-background-color: derive(accent_color, -40%);
}

/**************************** Toggle Button ***********************************/


.toggle-button:selected {
    -fx-background-color: accent_color;
    -fx-text-fill: white;
}

.toggle-button:selected:hover {
    -fx-border-color: border_hover_selected_color;
}

.toggle-button:selected:pressed {
    -fx-background-color: derive(accent_color, -40%);
}

/*******************************************************************************
 *                                                                             *
 * Check Box                                                                   *
 *                                                                             *
 ******************************************************************************/

.check-box {
    -fx-text-fill: text_color;
}

.check-box > .box > .mark {
    -fx-shape: "M17.939,5.439L7.5,15.889l-5.439-5.449l0.879-0.879L7.5,14.111 l9.561-9.551L17.939,5.439z";

    -fx-pref-width: 16px;
    -fx-pref-height: 12px;

    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

/* unselected */
.check-box > .box {
    -fx-background-color: box_background_color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-border-color: box_border_color;
    -fx-border-width: 2px;
    -fx-border-style: solid;

    -fx-padding: 0.166667em 0px 0.166667em 0px;     /* 2 0 2 0 */
}

/* hover */
.check-box:hover > .box, .check-box:selected:hover > .box  {
    -fx-border-color: box_border_hover_color;
}

/* selected */
.check-box:selected > .box{
    -fx-background-color: accent_color;
    -fx-border-color: accent_color;
}

.check-box:selected > .box > .mark{
    -fx-background-color: white;
}

/* pressed */
.check-box:pressed > .box, .check-box:selected:pressed > .box
{
    -fx-background-color: #666666;
    -fx-border-color: #666666;
}

/* indeterminate */
.check-box:indeterminate > .box {
    -fx-padding: 3px;

    -fx-border-color: accent_color;
}

.check-box:indeterminate > .box > .mark {
    -fx-shape: null;

    -fx-pref-width: 10px;
    -fx-max-width: 10px;
    -fx-min-width: 10px;
    -fx-pref-height: 10px;
    -fx-max-height: 10px;
    -fx-min-height: 10px;

    -fx-background-color: indeterminate_mark_color;
    /*-fx-background-insets: 3px;*/
}

/* -- indeterminate - pressed */
.check-box:indeterminate:pressed > .box > .mark {
    -fx-background-color: #666666;
}

.check-box:indeterminate:pressed > .box {
    -fx-background-color: indeterminate_box_pressed_color;
    -fx-border-color: #666666;
}

/* focused */

.check-box:focused > .box{
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    /* - first border is focus ring
       - second border is control border */
    -fx-border-color: focus_ring_color, box_border_color;
    -fx-border-width: 1, 2;
    /*noinspection CssInvalidFunction*/
    -fx-border-style: segments(1, 2), solid;
    -fx-border-insets: -3, 0;
}

/* -- focused - selected */
.check-box:focused:selected > .box{
    -fx-border-color: focus_ring_color, accent_color;
}

/* -- focused - selected, hover */
.check-box:focused:selected:hover > .box{
    -fx-border-color: focus_ring_color, box_border_hover_color;
}

/* -- focused - pressed */
.check-box:focused:pressed > .box{
    -fx-border-color: focus_ring_color, #666666;
}

.check-box:focused:selected:pressed > .box{
    -fx-border-color: focus_ring_color, #666666;
}

.check-box:focused:indeterminate:pressed > .box{
    -fx-border-color: focus_ring_color, #666666;
}

/* -- focused - indeterminate*/
.check-box:focused:indeterminate > .box {
    -fx-border-color: white, accent_color;
}

/* disabled */
.check-box:disabled {
    -fx-opacity: 0.4;
}

.check-box:disabled > .box
{
    -fx-background-color: #cdcdcd;
    -fx-border-color: #aaa;
}

/*******************************************************************************
 *                                                                             *
 * Hyperlink                                                                  *
 *                                                                             *
 ******************************************************************************/
.hyperlink {
    -fx-padding: 0.166667em 0.25em 0.166667em 0em; /* 2 3 2 3 */

    hyperlink_color: accent_color;
    -fx-text-fill: hyperlink_color;
}

.hyperlink,
.hyperlink:focused,
.hyperlink:hover,
.hyperlink:visited,
.hyperlink:hover:visited,
.hyperlink:visited:armed {
    -fx-underline: true;
}

.hyperlink:hover {
    -fx-text-fill: hyperlink_hover_color;
}

.hyperlink:pressed {
    -fx-text-fill: hyperlink_pressed_color;
}

.hyperlink:disabled {
    -fx-text-fill: hyperlink_disabled_color;
}

/*******************************************************************************
 *                                                                             *
 * Radio Button                                                                *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    -fx-text-fill: text_color;
}

.radio-button > .radio  {
    -fx-background-color: radio_background_color;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-background-insets: 0;

    /* Two borders exist because of the focus ring, if they didn't the size of the control would change on focus
       - The first one is the border of the control
       - The second one is the border of the focus ring
       */
    /*noinspection CssInvalidFunction*/
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 1.0em, 0;
    -fx-border-color: border_color, transparent;
    -fx-border-insets: 0px, -2px;
    -fx-border-width: 2px, 1px;

    -fx-padding: 3px; /* 4 -- padding from outside edge to the inner black dot */
}

.radio-button > .radio > .dot {
    -fx-background-color: dot_color;
    -fx-background-insets: 0;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */

    -fx-padding: 0.416667em; /* 5px -- radius of the inner black dot when selected */
}

/* hover */
.radio-button:hover > .radio {
    -fx-background-color: radio_background_color;
    -fx-border-color: border_hover_color, transparent;
}

.radio-button:selected:hover > .radio > .dot {
    -fx-background-color: dot_selected_hover_color;
}

/* selected */
.radio-button:selected > .radio {
    -fx-border-color: accent_color, transparent;
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: dot_selected_color;
}

/* pressed */
.radio-button:pressed > .radio
{
    -fx-background-color: background_pressed_color;
    -fx-border-color: #999999, transparent;
}

.radio-button:pressed:selected > .radio > .dot
{
    -fx-background-color: #999999;
}

/* focused */
.radio-button:focused > .radio
{
    /*noinspection CssInvalidFunction*/
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 1.0em, 0;
    -fx-border-color: border_color, focus_ring_color;
    -fx-border-insets: 0px, -2px;
    -fx-border-width: 2px, 1px;
}

.radio-button:focused:hover > .radio
{
    -fx-border-color: border_color, focus_ring_color;
}

.radio-button:focused:pressed > .radio, .radio-button:focused:selected:pressed > .radio
{
    -fx-border-color: #999999, focus_ring_color;
    -fx-background-color: background_pressed_color;
}

.radio-button:focused:selected > .radio {
    -fx-border-color: accent_color, focus_ring_color;
}

/* disabled */
.radio-button:disabled
{
    -fx-opacity: 0.4;
}

.radio-button:disabled > .radio
{
    -fx-border-color: border_color, transparent;
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    -fx-background-color: tooltip_background_color;
    -fx-background-insets: 0;
    -fx-background-radius: 0 0 0 0;

    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;  /*4 8 4 8 */

    -fx-font-family: "Segoe UI Semilight";
    -fx-text-fill: text_color;
    -fx-font-size: 1.166667em; /* 14 */

    -fx-border-color: border_color;
    -fx-border-width: 1px;

    -fx-effect: null;
}

/*******************************************************************************
 *                                                                             *
 * ToolBar                                                                     *
 *                                                                             *
 ******************************************************************************/

.tool-bar {
    -fx-background-color: background_color;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar and Scroll Pane                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-bar > .thumb{
    -fx-background-color: thumb_color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar > .thumb:hover {
    -fx-background-color: thumb_hover_color;
}

.scroll-bar > .thumb:pressed {
    -fx-background-color: thumb_pressed_color;
}

.scroll-bar > .track {
    -fx-background-color: track_color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar > .track-background {
    -fx-background-insets: 0;
}

/* Buttons */
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: inc_dec_button_color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-padding: 0.5em 0.25em 0.5em 0.25em; /* 6 3 6 3*/
}

.scroll-bar:horizontal > .increment-button,
.scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0.25em 0.5em 0.25em 0.5em ; /* 3 6 3 6*/
}

.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover  {
    -fx-background-color: inc_dec_button_hover_color;
}

.scroll-bar > .increment-button:pressed,
.scroll-bar > .decrement-button:pressed {
    -fx-background-color: inc_dec_button_pressed_color;
}

/* Disabled */
.scroll-bar:disabled {
    -fx-opacity: 0.4;
}

/* ARROW SHAPES */
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M14.4,18.611l3.633-3.637L14.4,11.338l0.352-0.352l3.992,3.988 l-3.992,3.988L14.4,18.611z";
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M18.393,18.963L14.4,14.975l3.992-3.988l0.352,0.352l-3.633,3.637 l3.633,3.637L18.393,18.963z";
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M20.561,13.154l-3.988,3.992l-3.988-3.992l0.352-0.352 l3.637,3.633l3.637-3.633L20.561,13.154z";
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M20.209,17.146l-3.637-3.633l-3.637,3.633l-0.352-0.352 l3.988-3.992l3.988,3.992L20.209,17.146z";
}

.scroll-bar > .decrement-button:pressed > .decrement-arrow,
.scroll-bar > .increment-button:pressed > .increment-arrow {
    -fx-background-color: transparent, white;
    -fx-effect: null;
}

.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 2.5px 4px 2.5px 4px; /* TODO: convert this to ems */
}

.scroll-bar:horizontal > .increment-button > .increment-arrow,
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 4px 2.5px 4px 2.5px; /* TODO: convert this to ems */
    -fx-translate-y: -1; /* HACK:  Somehow the arrow is not centered so we add this to center it */
}

.scroll-bar > .decrement-button > .decrement-arrow,
.scroll-bar > .increment-button > .increment-arrow{
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: arrow_color;
    -fx-effect: null;
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: arrow_pressed_color;
}

/**************************** Scroll Pane *************************************/

.scroll-pane {
    -fx-background-color: transparent, transparent;
}

.scroll-pane .corner {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: scroll_pane_background_color;
    -fx-background-insets: 0 0 0 0;
}

.scroll-pane > .viewport {
    -fx-background-color: scroll_pane_background_color;
}

/*******************************************************************************
 *                                                                             *
 * Combo Box                                                                   *
 *                                                                             *
 ******************************************************************************/

.combo-box-base  {
    -fx-background-color: transparent, border_color, transparent, combo_box_background_color;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em 0.166667em 0.166667em 0.166667em; /* 2 2px 2 2px*/

    -fx-font-family: "Segoe UI";
    -fx-font-size: 1em; /* 12 */
}

.combo-box-base > .list-cell {
    -fx-text-fill: text_color;
}

.combo-box-base:hover {
    -fx-background-color: transparent, border_hover_color, transparent, combo_box_background_color;
}

.combo-box-base:focused {
    -fx-background-color: transparent, border_focused_color, transparent, combo_box_background_color;
    -fx-background-insets: -1.4, 0, 1, 2;

    -fx-background-radius: 0, 0, 0, 0;
}

.combo-box-base:focused:hover {
    -fx-background-color: transparent, border_hover_color, transparent, combo_box_background_color;
}

.combo-box-base:pressed, .combo-box-base:focused:pressed {
    -fx-background-color: transparent, border_pressed_color, transparent, background_pressed_color;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

/* ------- OPEN BUTTON ------- */
.combo-box-base > .arrow-button {
    -fx-background-color: transparent, transparent, transparent;
}

/* ------- ARROW ------- */
.combo-box-base > .arrow-button > .arrow {
    -fx-background-insets: 0 0 0 0, 0;
}

/* LIST (Popup)*/
.combo-box-popup > .list-view {
    -fx-effect: null;

    -fx-border-color: list_cell_border_color;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1em;
    -fx-padding: 4 0 4 5; /* TODO: convert to ems */

    -fx-background-color: list_cell_color;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover{
    -fx-background-color: list_cell_hover_color;
    -fx-text-fill: text_color;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected{
    -fx-background-color: derive(accent_color, 90%);
    -fx-text-fill: #111;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover{
    -fx-background-color: derive(accent_color, 70%);
}

/*==========================  Editable ComboBox  =============================*/



/*******************************************************************************
 *                                                                             *
 * Rating (ControlsFX)                                                         *
 *                                                                             *
 ******************************************************************************/

.rating > .container > .button {
    -fx-background-color: star_color;
    -fx-border-color: transparent;
    -fx-shape: "M147.421,249.541l6.152,4.854l-2.393,7.355l6.521-4.361l6.549,4.361l-2.393-7.355l6.152-4.854h-7.738l-2.571-7.396l-2.543,7.396H147.421z";
    -fx-background-image: null;
    -fx-padding: 16 16; /* TODO: convert to ems */
    -fx-background-repeat: no-repeat;
}

.rating > .container > .button.strong {
    -fx-background-color: accent_color;
    -fx-border-color: transparent;
    -fx-background-image: null;

}

.rating > .container:hover > .button.strong {
    -fx-background-color: derive(accent_color, 30%);
}

.rating > .container > .button:hover {
    -fx-effect: null;
}

.rating > .container:pressed > .button.strong {
    -fx-background-color: derive(accent_color, 40%);
}

.rating > .container > .button:pressed {
    -fx-background-color: derive(accent_color, 40%);
}

.rating:disabled{
    -fx-opacity: .6;
}

/*******************************************************************************
 *                                                                             *
 * Text Common (TextField, PasswordField, TextArea)                            *
 *                                                                             *
 ******************************************************************************/

.text-input{
    -fx-background-radius: 0, 0;

    -fx-background-color: border_color, text_input_background_color;
    -fx-background-insets: 0, 2;

    -fx-prompt-text-fill: prompt_text_color;

    -fx-highlight-fill: highlight_color;
    -fx-highlight-text-fill: highlighted_text_color;

    -fx-font-size: 1em; /* 12 */

    -fx-text-fill: text_color;
}

.text-input > Pane {
    -fx-background-color: transparent;
}

/* hover */
.text-input:hover{
    -fx-background-color: border_hover_color, background_hover_color;
}

/* focused */
.text-input:focused{
    -fx-background-color: accent_color, background_focused_color;

    -fx-text-fill: text_focused_color;
}

/* disabled */
.text-input:disabled
{
    -fx-opacity: 1;
    -fx-background-insets: 0, 2;
    -fx-background-color: border_disabled_color, background_disabled_color;
    -fx-text-fill: text_disabled_color;
    -fx-prompt-text-fill: text_disabled_color;
}

/*******************************************************************************
 *                                                                             *
 * Text Field (and PasswordField)                                              *
 *                                                                             *
 ******************************************************************************/

.text-field > .right-button > .right-button-graphic {
    -fx-shape: "M221.738,305.873l6.135,6.16l-2.875,2.863l-6.135-6.159l-6.263,6.237l-2.864-2.875l6.263-6.238l-6.177-6.202l2.875-2.863l6.177,6.201l6.244-6.22l2.864,2.876L221.738,305.873z";

    -fx-padding: 0.416667em;
    -fx-background-color: graphic_color;
}

.text-field > .right-button{
    -fx-cursor: default;

    -fx-background-insets: -0.1666665em -0.45em -0.1666665em -0.45em; /* 4 7 4 7 -> this values are subtracted by 2px in em because of the border of the textfield */
    -fx-background-color: background_focused_color;  /* We must give it a color so that it reacts to the mouse */
}

.text-field > .right-button:hover > .right-button-graphic {
    -fx-background-color: accent_color;
}

/*******************************************************************************
 *                                                                             *
 * Menu Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.menu-button {
    -fx-background-color: menu_button_background_color;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0em 0em 0em 0em; /* 0 8 0 8 */

    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.menu-button > .arrow-button {
    -fx-background-color: transparent;
}

.menu-button > .label {
    -fx-font-family: "Segoe UI Semilight";
    -fx-font-size: 1em; /* 12 */

    -fx-text-fill: menu_button_text_color;
}

.menu-button:hover {
    -fx-border-color: menu_border_hover_color;
}

.menu-button:pressed {
    -fx-border-color: menu_button_pressed_color;
    -fx-background-color: menu_button_pressed_color;
}

.menu-button:focused {
    -fx-border-color: transparent, white;
    -fx-border-width: 1, 1;
    /*noinspection CssInvalidFunction*/
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.menu-button:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: menu_button_background_color;
    -fx-text-fill: menu_button_text_color;
}

/*******************************************************************************
 *                                                                             *
 * Password Field                                                              *
 *                                                                             *
 ******************************************************************************/

.password-field > .right-button {
    -fx-padding: 0 0.166667em 0 0.166667em;
}

.password-field > .right-button > .right-button-graphic {
    -fx-shape            : "M307.688,399.564c0,1.484-1.203,2.688-2.688,2.688c-1.484,0-2.688-1.203-2.688-2.688s1.203-2.688,2.688-2.688C306.484,396.876,307.688,398.08,307.688,399.564z M297.5,399h2.5c0,0,1.063-4,5-4c3.688,0,5,4,5,4h2.5c0,0-2.063-6.5-7.5-6.5C299,392.5,297.5,399,297.5,399z";
    -fx-scale-shape: false;
    -fx-background-color: #111;
}

.password-field > .right-button:pressed {
    -fx-background-color: accent_color;
}

.password-field > .right-button:pressed > .right-button-graphic {
    -fx-background-color: white;
}

/*******************************************************************************
 *                                                                             *
 * Text Area                                                                   *
 *                                                                             *
 ******************************************************************************/

.text-area .content {
    -fx-background-color: border_color, text_input_background_color;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 1;
}

.text-area:hover .content {
    -fx-background-color: border_color, background_hover_color;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 1;
}

.text-area:focused .content {
    -fx-background-color: accent_color, background_focused_color;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 1;
}

.text-area:disabled .content {
    -fx-background-color: border_disabled_color, background_disabled_color;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 1;
}

/* TODO: below not working */
.text-area:disabled .content .text {
    -fx-fill: text_disabled_color;
}

/*******************************************************************************
 *                                                                             *
 * Progress Bar                                                                *
 *                                                                             *
 ******************************************************************************/
.progress-bar {
    track_background_color: progress_background_color;
    bar_color: accent_color;
    dot_color: accent_color;
}

.progress-bar > .bar {
    -fx-background-color: bar_color;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.progress-bar > .track {
    -fx-background-color: track_background_color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-pref-height: 4px;
    -fx-min-height: 4px;
    -fx-max-height: 4px;
}

/* Indeterminate */
.progress-bar:indeterminate > .track {
    -fx-background-color: transparent;
}

.progress-bar:indeterminate .dot {
    -fx-background-radius: 1em;
    -fx-padding: 0.166667em;

    -fx-background-color: dot_color;
}

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.slider {
    -show-value-on-interaction: true;
}

.slider .thumb {
    -fx-background-color: accent_color;
    -fx-background-insets: 0;
    -fx-background-radius: 0.5em; /* 6 */

    -fx-padding: 1em 0.333333em 1em 0.333333em;  /* 12 4 12 4 */

    -fx-effect: null;
}

.slider:vertical .thumb {
    -fx-padding: 0.333333em 1em 0.333333em 1em; /* 4 12 4 12 */
}

.slider .track {
    -fx-background-color: #c6c6c6;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.083333em; /* 1 */

}

.slider .fill {
    -fx-background-color: accent_color;
    -fx-padding: 0.083333em; /* 1 */
}

/* hover */
.slider:hover .track{
    -fx-background-color: track_hover_color;
}

.slider:hover .thumb{
    -fx-background-color: thumb_hover_color;
}

/* pressed */
.slider .thumb:pressed {
    -fx-background-color: thumb_pressed_color;
}

/* disabled */
.slider:disabled {
    -fx-opacity: 0.2;
}

/* Slider popup showing its value */
.slider-popup .label {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #cccccc;

    -fx-text-fill: #111;

    -fx-padding: 0.5em 0.75em 0.5em 0.75em; /* 6 9 6 9 */
}

/*******************************************************************************
 *                                                                             *
 * Toggle Switch (ControlsFX)                                                  *
 *                                                                             *
 ******************************************************************************/

.toggle-switch {
    -thumb-move-animation-time: 100;
    -toggle-display: left;
}

.toggle-switch .text {
    -fx-fill: text_color;
    -fx-font-size: 1em;
    -fx-font-family: "Segoe UI";
}

.toggle-switch .thumb {
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 0.416667em; /* 5 */
}

.toggle-switch .thumb-area{
    -fx-background-radius: 0.833333em; /* 10 */

    -fx-border-width: 0.166667em; /* 2 */
    -fx-border-radius: 0.833333em;

    -fx-pref-width: 44px;
    -fx-pref-height: 1.666666em; /* 20 */
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 5 5 5 */
}

/* unselected */
.toggle-switch .thumb-area{
    -fx-background-insets: 0;
    -fx-background-color: unselected_color;

    -fx-border-color: unselected_border_color;
}

.toggle-switch .thumb {
    -fx-background-color: thumb_unselected_color;
}

/* unselected - hover */
.toggle-switch:hover .thumb-area {
    -fx-background-color: unselected_hover_color;

    -fx-border-color: unselected_border_hover_color;
}

.toggle-switch:hover .thumb {
    -fx-background-color: thumb_unselected_hover_color;
}

/* selected */
.toggle-switch:selected .thumb-area{
    -fx-background-insets: 0;
    -fx-background-color: selected_color;

    -fx-border-color: selected_border_color;
}

.toggle-switch:selected .thumb{
    -fx-background-color: thumb_selected_color;
}

/* selected - hover */
.toggle-switch:selected:hover .thumb-area {
    -fx-background-color: selected_hover_color;
    -fx-border-color: selected_hover_color;
}

/* pressed */
.toggle-switch:pressed .thumb-area, .toggle-switch:selected:pressed .thumb-area{
    -fx-background-insets: 0;

    -fx-background-color: pressed_color;
    -fx-border-color: pressed_border_color;
}

.toggle-switch:pressed .thumb {
    -fx-background-color: thumb_pressed_color;
}

/* disabled */
.toggle-switch:disabled
{
    -fx-opacity: 0.4;
}

/*******************************************************************************
 *                                                                             *
 * List Spinner (Jfxtras)                                                      *
 *                                                                             *
 ******************************************************************************/

.ListSpinner {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-padding: 0.266667em 0.233333em 0.25em 0.233333em;
    -fx-text-fill: #212121;
}

.ListSpinner:hover {
    -fx-color: #f0f0f0;
}

.ListSpinner:focused {
    -fx-color: -fx-focused-base;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 6.4, 5, 4, 3;
}

.ListSpinner .valuePane {
    -fx-padding: 0.0em 0.2em 0.0em 0.2em;
}

.ListSpinner .left-arrow {
    -fx-shape: "M4,-4 L0,0 L4,4 Z";
    -fx-scale-shape: false;
}
.ListSpinner .right-arrow {
    -fx-shape: "M0,-4 L4,0 L0,4 Z";
    -fx-scale-shape: false;
}
.ListSpinner .down-arrow {
    -fx-shape: "M-4,-2 L0,2 L4,-2 Z";
    -fx-scale-shape: false;
}
.ListSpinner .up-arrow {
    -fx-shape: "M4,2 L-4,2 L0,-2 Z";
    -fx-scale-shape: false;
}
.ListSpinner .idle {
    -fx-background-color: -fx-mark-color;
}
.ListSpinner .clicked {
    -fx-background-color: -fx-focus-color;
}

/*******************************************************************************
 *                                                                             *
 * Spinner                                                                     *
 *                                                                             *
 ******************************************************************************/

.spinner > .text-field{
    -fx-skin: "com.sun.javafx.scene.control.skin.TextFieldSkin";
}

.spinner {
    -fx-background-color: spinner_background_color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.spinner > .text-field {
    -fx-background-color: spinner_background_color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/* TODO: Below doesn't work when spinner is in SPLIT_ARROWS_HORIZONTAL and is not focused
   however it works if you are running with Scenic View attached. Should be a bug in JavaFX 8.
 */
.spinner:focused > .text-field,
.spinner:contains-focus > .text-field,
.spinner > .text-field,
.spinner.split-arrows-horizontal > .text-field {
    -fx-text-fill: text_color;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button  {
    -fx-background-color: spinner_background_color;
    /*Change the two 0's here to -1 to get rid of the horizontal line */
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: arrow_button_hover_color;
}

.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-background-color: arrow_button_pressed_color;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: arrow_color;
}

.spinner .increment-arrow-button:pressed .increment-arrow,
.spinner .decrement-arrow-button:pressed .decrement-arrow{
    -fx-background-color: arrow_pressed_color;
}

/*******************************************************************************
 *                                                                             *
 * Date Picker                                                                 *
 *                                                                             *
 ******************************************************************************/

.date-picker.combo-box-base {
    -fx-background-color: border_color, date_picker_background_color;
    -fx-background-insets: 0, 2;
}

.date-picker.combo-box-base:hover {
    -fx-background-color: border_hover_color, background_hover_color;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0;
}

.date-picker.combo-box-base:pressed {
    -fx-background-color: #666666, date_picker_background_color;
    -fx-background-insets: 0, 2;
}

.date-picker.combo-box-base:focused, .date-picker.combo-box-base:focused:hover {
    -fx-background-color: accent_color, background_hover_color;
    -fx-background-insets: 0, 2;
}

/* "Textfield"  - most properties will be inherited by what was defined for the textfield */

.date-picker > .text-field{
    -fx-skin: "com.sun.javafx.scene.control.skin.TextFieldSkin";
}

.date-picker > .text-input{
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.date-picker > .text-input > Pane {
    -fx-background-color: transparent;
}

/* Icon */

.date-picker > .arrow-button {
    -fx-background-color: date_picker_background_color;
}

.date-picker:focused > .arrow-button {
    -fx-background-color: background_focused_color;
    -fx-border-color: background_focused_color;
}

.date-picker:focused > .arrow-button > .arrow {
    -fx-background-color: graphic_focused_color;
}

.date-picker > .arrow-button > .arrow {
    -fx-shape: "M24,8.136v14H8v-14h3v-1h1v1h8v-1h1v1H24z M9,9.136v2h14v-2h-2v1h-1v-1h-8v1h-1v-1H9z M23,21.137v-9H9v9H23zM11,15.136h1v1h-1V15.136z M11,17.137h1v1h-1V17.137z M11,19.137h1v1h-1V19.137z M14,13.136h1v1h-1V13.136z M14,15.136h1v1h-1V15.136z M14,17.137h1v1h-1V17.137z M14,19.137h1v1h-1V19.137z M17,13.136h1v1h-1V13.136z M17,15.136h1v1h-1V15.136z M17,17.137h1v1h-1V17.137z M17,19.137h1v1h-1V19.137z M20,13.136h1v1h-1V13.136z M20,15.136h1v1h-1V15.136z M20,17.137h1v1h-1V17.137z";
    -fx-background-color: graphic_color;
    -fx-background-insets: 0;
    -fx-padding: 0.666667em 0.583333em 0.5em 0.416667em; /* 10 10 8 8 */
    -fx-scale-shape: true;
}

.date-picker > .arrow-button:hover > .arrow {
    -fx-background-color: accent_color;
}

.date-picker > .arrow-button:pressed {
    -fx-background-color: accent_color;
}

.date-picker > .arrow-button:pressed > .arrow {
    -fx-background-color: white;
}

/* Disabled */

.date-picker:disabled > .arrow-button {
    -fx-background-color: text_field_disabled_background_color;
}

/***************************** Date Picker popup ********************************/

.date-picker-popup {
    -fx-border-color: popup_border_color;
    -fx-border-width: 2px;

    -fx-effect: null;
}

.date-picker-popup {
    -fx-background-color: cell_background_color;
    -fx-background-insets: 0;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: cell_background_color;
    -fx-background-insets: 0;

    -fx-font-family: "Segoe UI Semilight";
    -fx-font-size: 1.083333em;
}

.date-picker-popup > * > .spinner > .button {
    -fx-padding: 0.25em 0.583333em 0.25em 0.583333em; /* 3 7 3 7 */
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: cell_background_color;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner {
    -fx-background-color: cell_background_color;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner > .spinner-label {
    -fx-text-fill: text_color;
}

.date-picker-popup > * > .spinner > .button:hover {
    -fx-background-color: spinner_button_hover_color;
}

.date-picker-popup > * > .spinner > .button:armed {
    -fx-background-color: #606060;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: text_color;
    -fx-background-insets: 0;
    -fx-effect: null;
}

.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: cell_background_color;
    -fx-background-insets: 0;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: cell_background_color;
    -fx-padding: 0;
}

.date-picker-popup > * > .day-cell.previous-month,
.date-picker-popup > * > .day-cell.next-month {
    -fx-background-color: day_cell_background_days_from_other_months_color;
    -fx-border-color: day_cell_background_color;
    -fx-text-fill: text_days_from_other_months_color;
}

.date-picker-popup > * > .day-cell.previous-month:hover,
.date-picker-popup > * > .day-cell.next-month:hover {
    -fx-background-color: day_cell_border_hover_color, day_cell_border_hover_color, day_cell_background_days_from_other_months_color;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.75em;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: text_color;
}

.date-picker-popup > * > .day-name-cell {
    -fx-font-size: 0.833333em; /* 10 */
    -fx-padding: 0 0 0.75em 0;
}

/* Day Cells */
.date-picker-popup > * > .day-cell {
    -fx-background-color: day_cell_background_color;
    -fx-border-color: day_cell_background_color;

    -fx-text-fill: text_color;

    -fx-padding: 0.5em 0.5em 0.5em 0.5em; /* 6 6 6 6 */
}

.date-picker-popup > * > .day-cell:hover {
    -fx-background-color: day_cell_border_hover_color, day_cell_border_hover_color, day_cell_background_color;
    -fx-text-fill: text_hover_color;
}

.date-picker-popup > * > .day-cell.selected {
    -fx-background-color: accent_color;
    -fx-text-fill: text_selected_color;
}

.date-picker-popup > * > .day-cell.selected:hover {
    -fx-background-color: derive(accent_color, 70%);
}

.date-picker-popup > * > .today {
    -fx-background-color: today_border_color, today_border_color, day_cell_background_color;
}

/*******************************************************************************
 *                                                                             *
 * Choice Box                                                                  *
 *                                                                             *
 ******************************************************************************/

.choice-box  {
    -fx-background-color: transparent, border_color, transparent, choice_box_background_color;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em 0.166667em 0.166667em 0.166667em; /* 2 2 2 2*/

    -fx-font-family: "Segoe UI";
    -fx-font-size: 1em; /* 12 */
}

.choice-box > .open-button {
    -fx-background-color: transparent;
}

.choice-box > .label {
    -fx-text-fill: text_color;
}

.choice-box:hover {
    -fx-background-color: transparent, border_hover_color, transparent, choice_box_background_color;
}

.choice-box:focused {
    -fx-background-color: transparent, border_focused_color, transparent, choice_box_background_color;
    -fx-background-insets: -1.4, 0, 1, 2;

    -fx-background-radius: 0, 0, 0, 0;
}

.choice-box:focused:hover {
    -fx-background-color: transparent, border_hover_color, transparent, choice_box_background_color;
}

.choice-box:disabled {
    -fx-opacity: .4;
}

/* ARROW */
.choice-box > .open-button > .arrow {
    -fx-background-insets: 0 0 0 0, 0;
}

/*******************************************************************************
 *                                                                             *
 * List View                                                                   *
 *                                                                             *
 ******************************************************************************/

.list-view {
    -fx-background-color: list_view_background_color;
    -fx-background-insets: 0;
    -fx-padding: 0;

    -fx-border-color: border_color;
    -fx-border-width: 1px;

    -fx-font-size: 1em; /* 12 */
}

.list-view:focused {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 0.666667em 1em 0.666667em 1em; /* 8 12 8 12 */
    -fx-font-family: "Segoe UI";
    -fx-text-fill: text_color;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: transparent;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: transparent;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:hover {
    -fx-background-color: cell_hover_color;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:pressed {
    -fx-background-color: cell_pressed_color;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected {
    -fx-background-color: cell_selected_color;
    -fx-background-insets: 0;

    -fx-text-fill: text_color;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:hover {
    -fx-background-color: cell_selected_hover_color;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:hover:pressed {
    -fx-background-color: cell_selected_pressed_color;
}

/*******************************************************************************
 *                                                                             *
 * Table View                                                                  *
 *                                                                             *
 ******************************************************************************/

.table-view{
    -fx-cell-focus-inner-border: cell_selected_color; /* focused */

    -fx-background-color: transparent, transparent;

    -fx-border-color: table_view_border_color;

    -fx-padding: 0;
}

.table-view .column-header {
    -fx-padding: 0em 0em 0em 1em;
}

.table-view .column-header .label {
    -fx-padding: 0.666666em 2em 0.666666em 0; /* 8 24 8 0 */
}

.table-cell {
    -fx-padding: 0.833333em 2em 0.5em 1em; /* 10 24 6 12 */
}

/****** Column Header ******/
.table-view .column-header:last-visible {
    -fx-border-color: transparent transparent table_view_border_color transparent;
}

.table-view .filler {
    -fx-border-color: transparent transparent table_view_border_color transparent;
}

.table-view .column-header .label{
    -fx-text-fill: text_color;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 1em;  /* 12 */
    -fx-alignment: center-left;
}

.table-view .column-header:hover{
    -fx-background-color: cell_hover_color;
}

.table-view .column-header:hover .label{
    -fx-text-fill: hover_text_color;
}

.table-view .column-header-background {
    -fx-background-color: table_background_color;
}

.table-view .column-header, .table-view .filler{
    /* borders around table header */
    -fx-background-color: table_background_color;
    -fx-border-color: transparent transparent table_view_border_color transparent;
}

.table-view .filler {
    -fx-background-color: transparent, table_background_color;
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
}

.table-view .column-header.table-column-selected {
    -fx-background-color: table_background_color;
}

/* Header Sort Arrows */
/* There can be nested column headers inside other nested column so this declaration is a bit loose. Not sure we can be
totally specific (always using direct child) and cover all cases, which would be more performant. */
.table-view > .column-header-background .nested-column-header > .column-header > GridPane > .arrow {
    -fx-padding: 0.5em 0.416667em 0.5em 0.416667em; /* 6 5 6 5 */
    -fx-shape: "M 15 4 L 15 24.0625 L 8.21875 17.28125 L 6.78125 18.71875 L 15.28125 27.21875 L 16 27.90625 L 16.71875 27.21875 L 25.21875 18.71875 L 23.78125 17.28125 L 17 24.0625 L 17 4 Z ";
    -fx-background-color: sort_arrow_color;
}
.table-view > .column-header-background .nested-column-header > .column-header > GridPane {
    -fx-background-color: transparent;
}

.table-view > .column-header-background .nested-column-header > .column-header > GridPane > .sort-order-dots-container {
    -fx-background-color: transparent;
}

/****** Table View "body"  ******/

.table-cell {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1em;  /* 12 */
    -fx-alignment: center-left;

    -fx-border-width: 0;
}

.table-cell:last-visible {
    -fx-border-color: transparent transparent transparent transparent;
}

.table-cell:filled:hover {
    -fx-background-color: cell_hover_color;
}

.table-cell .text {
    -fx-fill: text_color;
}

.table-cell:hover .text {
    -fx-fill: hover_text_color;
}

/* Selected cells and rows */
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected .text,
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell .text {
    -fx-fill: selected_text_color;
}

/* - when focused */
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell {
    -fx-background-color: cell_selected_color;
    -fx-border-width: 0;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected:hover,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected:hover .table-cell{
    -fx-background-color: cell_selected_hover_color;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected > .text,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell > .text {
    -fx-fill: selected_text_color;
}

/* - when not focused */
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell {
    -fx-background-color: cell_selected_unfocused_color;
}

.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected > .text,
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell > .text {
    -fx-fill: selected_unfocused_text_color;
}

.table-row-cell {
    -fx-background-color: table_background_color;
    -fx-background-insets: 0;
}

/*********************** Check box in Table View *****************************/

.check-box-table-cell > .check-box {
    -fx-opacity: 1;
}

.check-box-table-cell > .check-box > .box {
    -fx-background-color: table_check_box_cell_box_background_color;
    -fx-border-color: table_check_box_cell_box_border_color;
    -fx-background-insets: 0;
}

.check-box-table-cell > .check-box:selected > .box > .mark {
    -fx-background-color: table_check_box_cell_mark_color;
}

/****************************** Plus Symbol ***********************************/

.table-view > .column-header-background > .show-hide-columns-button,
.tree-table-view > .column-header-background > .show-hide-columns-button {
    -fx-background-color: table_background_color;
    -fx-background-insets: 0;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em;
}

.table-view > .column-header-background > .show-hide-columns-button:hover,
.tree-table-view > .column-header-background > .show-hide-columns-button:hover {
    -fx-background-color: cell_hover_color;
}

.table-view .show-hide-column-image,
.tree-table-view .show-hide-column-image {
    -fx-background-color: show_hide_image_color;
    -fx-padding: 0.083333em; /* 3px */
    -fx-scale-shape: false;
    -fx-shape: "M33.561,25.389c0,0.828-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5c0-0.828,0.672-1.5,1.5-1.5S33.561,24.561,33.561,25.389z M32.061,30.532c-0.828,0-1.5,0.672-1.5,1.5c0,0.828,0.672,1.5,1.5,1.5s1.5-0.672,1.5-1.5C33.561,31.204,32.889,30.532,32.061,30.532z M32,37.107c-0.828,0-1.5,0.672-1.5,1.5c0,0.828,0.672,1.5,1.5,1.5s1.5-0.672,1.5-1.5C33.5,37.779,32.828,37.107,32,37.107z";
}

/*******************************************************************************
 *                                                                             *
 * Tree View                                                                   *
 *                                                                             *
 ******************************************************************************/

.tree-view {
    -fx-background-color: tree_view_background_color;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.tree-view .tree-cell {
    -fx-font-size: 1em; /* 12 */
    -fx-padding: 0.5em; /* 6 */
    -fx-background-color: tree_view_background_color;
    -fx-text-fill: text_color;
}

.tree-view .tree-cell > .tree-disclosure-node {
    -fx-background-color: transparent;
}

/********** Label **********/
.tree-view .tree-cell .label{
    -fx-font-family: "Segoe UI";

    -fx-padding: 0 0.25em 0 0; /* 0 3 0 0 */
}

.tree-view .tree-cell {
    -fx-text-fill: text_color;
}

/* Hover */
.tree-view .tree-cell:filled:hover {
    -fx-background-color: cell_hover_color;

    -fx-text-fill: text_hover_color;
}

.tree-view .tree-cell:hover > .tree-disclosure-node > .arrow {
    -fx-background-color: arrow__hover_color;
}

/* Selected */
.tree-view .tree-cell:filled:selected {
    -fx-background-color: cell_selected_color;
    -fx-table-cell-border-color: transparent;

    -fx-text-fill: text_selected_color;
}

/* Selected hover */
.tree-view .tree-cell:filled:selected:hover,
.tree-view .tree-cell:selected:hover {
    -fx-background-color: cell_selected_hover_color;
    -fx-text-fill: text_selected_color;
}

.tree-view .tree-cell:selected:hover > .tree-disclosure-node > .arrow {
    -fx-background-color: arrow_selected_hover_color;
}


/* Pressed */
.tree-view .tree-cell:filled:pressed,
.tree-view .tree-cell:filled:selected:pressed,
.tree-view .tree-cell:selected:pressed,
.tree-view .tree-cell:pressed{
    -fx-background-color: pressed_color;
}

/*********** Expand/Collapse icon **********/
.tree-cell > .tree-disclosure-node {
    -fx-padding: 0.333333em 0.75em 0.333333em 0.75em; /* 4 9 4 9 */
}

.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: arrow_color;
    -fx-padding: 0.416667em 0.333333em 0.416667em 0.333333em; /* 5 4 5 4 */
    -fx-shape: "M8.06,20.938L7,20l8-8L7,4l1.06-0.938L16.917,12L8.06,20.938z";
}

.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: text_color;
}

.tree-cell:hover > .tree-disclosure-node > .arrow {
    -fx-background-color: text_hover_color;
}

.tree-cell:selected > .tree-disclosure-node > .arrow {
    -fx-background-color: text_selected_color;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-scale-y: -1;
    -fx-rotate: 90;
}

.tree-cell {
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Tree Table View                                                             *
 *                                                                             *
 ******************************************************************************/

.tree-table-view {
    -fx-font-family: "Segoe UI";
    -fx-background-color: table_border_color;
    -fx-border-color: table_border_color;
    -fx-table-cell-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 1;
    -fx-background-insets: 0 0 0 0;
    -fx-font-size: 1em; /* 12 */
}

.tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell > .tree-disclosure-node,
.tree-table-view > .column-header-background > .nested-column-header > .column-header > GridPane {
    -fx-background-color: transparent;
}

.tree-table-cell {
    -fx-padding: 0.5em 0 0.5em 0.333333em; /* 6 0 6 4 */
}

.tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell {
    -fx-background-color: table_background_color;
}

.tree-table-view .column-drag-header {
    -fx-background: accent_color;
    -fx-background-color: accent_color;
    -fx-border-color: transparent;
    -fx-opacity: 0.3;
}

/* Selected */
.tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-background-color: cell_selected_unfocused_color;
    -fx-table-cell-border-color: cell_selected_unfocused_color;
}

.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-background-color: cell_selected_color;
    -fx-table-cell-border-color: cell_selected_color;
}

.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected > *,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected > * {
    -fx-text-fill: table_text_selected_color;
}

/* Selected - hover */
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected:hover,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected:hover {
    -fx-background-color: cell_selected_hover_color;
    -fx-table-cell-border-color: cell_selected_hover_color;
}

/* Hover */
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:empty:hover {
    -fx-background-color: table_background_color;
    -fx-table-cell-border-color: table_background_color;
}

.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:hover {
    -fx-background-color: cell_hover_color;
    -fx-table-cell-border-color: cell_hover_color;
}

.tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell > * {
    -fx-text-fill: table_text_color;
}


.tree-table-view .arrow {
    -fx-background-color: table_text_color;
    -fx-padding: 0.5em 0.416667em 0.5em 0.416667em; /* 6 5 6 5 */
    -fx-shape: "M 15 4 L 15 24.0625 L 8.21875 17.28125 L 6.78125 18.71875 L 15.28125 27.21875 L 16 27.90625 L 16.71875 27.21875 L 25.21875 18.71875 L 23.78125 17.28125 L 17 24.0625 L 17 4 Z ";
}

.tree-table-row-cell .arrow {
    -fx-padding: 0.416667em 0.333333em 0.416667em 0.333333em; /* 5 4 5 4 */
    -fx-shape: "M 12.96875 4.28125 L 11.53125 5.71875 L 21.8125 16 L 11.53125 26.28125 L 12.96875 27.71875 L 23.96875 16.71875 L 24.65625 16 L 23.96875 15.28125 Z ";
}

.tree-table-view .show-hide-column-image {
    -fx-background-color: table_text_color;
    -fx-padding: 0.25em; /* 3 */
    -fx-shape: "M 15 5 L 15 15 L 5 15 L 5 17 L 15 17 L 15 27 L 17 27 L 17 17 L 27 17 L 27 15 L 17 15 L 17 5 Z ";
}

.tree-table-view .column-resize-line {
    -fx-background-color: table_column_vline_color;
    -fx-padding: 0.0em 0.0416667em 0.0em 0.0416667em; /* 0 0.571429 0 0.571429 */
}

.tree-table-view > .column-header-background > * {
    -fx-background-color: table_background_color;
    -fx-border-insets: 0 0 0 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: table_border_color;
}

.tree-table-view > *,
.tree-table-view > .column-header-background > .nested-column-header > *,
.tree-table-view > .column-header-background > .nested-column-header > .nested-column-header * {
    -fx-background-color: table_background_color;
}

.tree-table-view:focused > .column-header-background > .nested-column-header > *:hover,
.tree-table-view:focused > .column-header-background > .nested-column-header > *:pressed,
.tree-table-view > .column-header-background > .nested-column-header > .nested-column-header *:hover,
.tree-table-view:focused > .column-header-background > .nested-column-header > .nested-column-header *:hover,
.tree-table-view:focused > .column-header-background > .nested-column-header > .nested-column-header *:pressed {
    -fx-background-color: cell_hover_color;
}

.tree-table-view > .column-header-background > .nested-column-header > .table-column,
.tree-table-view > .column-header-background > .nested-column-header > .nested-column-header > .table-column,
.tree-table-view > .column-header-background > .nested-column-header > .table-column:last-visible,
.tree-table-view > .column-header-background > .nested-column-header > .nested-column-header > .table-column:last-visible {
    -fx-border-insets: 0 0 0 0;
    -fx-border-width: 0 0 0 0;
}

.tree-table-view > .column-header-background > .nested-column-header > .table-column > .label,
.tree-table-view > .column-header-background > .nested-column-header > .nested-column-header > .table-column > .label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: table_text_color;
    -fx-padding: 0.666667em; /* 8 */
    -fx-alignment: center-left;
}

/*******************************************************************************
 *                                                                             *
 * Tab Pane and Tabs                                                           *
 *                                                                             *
 ******************************************************************************/

.tab-pane {
    -fx-tab-min-height: 2.91666375em; /* 34 */
    -fx-tab-max-height: 2.91666375em; /* 34 */
}

.tab-pane > .tab-header-area {
    -fx-padding: 0 0.166667em 0em 0.416667em; /* 0 2 5 5 */
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: transparent, transparent, tab_pane_background_color;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0.083333em 1.5em 0.0769em 1.5em; /* 1 18 0.99 18 */
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: transparent, tab_selected_border_color, tab_selected_background_color;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-text-fill: tab_text_color;
    -fx-font-size: 1em; /* 12 */
    -fx-font-family: "Segoe UI";
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-text-fill: accent_color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover > .tab-container > .tab-label {
    -fx-text-fill: tab_text_hover_color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:hover > .tab-container > .tab-label {
    -fx-text-fill: tab_text_selected_hover_color;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:
            tab_pane_bottom_border_color,
            transparent,
            tab_pane_background_color;
    -fx-background-insets: 1 1 0 1, 0 0 1 0, 1;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0, 0;
    -fx-border-color: transparent, transparent;
}

/*******************************************************************************
 *                                                                             *
 * Context Menu, Menus, MenuBar and MenuItem                                   *
 *                                                                             *
 ******************************************************************************/

/****************************** Context Menu **********************************/

.context-menu {
    -fx-background-color: menu_background_color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0.5em 0em 0.5em 0em; /* 6 0 6 0 */

    -fx-border-color: context_menu_border_color;
    -fx-border-style: solid;
}

/* separator */
.context-menu .separator {
    -fx-padding: 0.58333275em 1em 0.58333275em 1em;  /*7 12 7 12 */
}

.context-menu .separator:horizontal .line {
    -fx-border-color: separator_color transparent transparent transparent;
    -fx-border-insets: 0;
}

/********************************* Menu Bar ************************************/

.menu-bar {
    -fx-background-color: menu_bar_background_color;
    -fx-background-insets: 0 0 0 0;
    -fx-font-family: "Segoe UI";
}

.menu-bar > .container {
    -fx-background-color: transparent;
}

.menu-bar > .container > .menu-button {
    -fx-background-color: transparent;
}

.menu-bar > .container > .menu-button {
    -fx-padding: 0.5em 1em 0.5em 0.666667em; /* 6 12 6 8 */
    -fx-border-width: 0;
}

.menu-bar > .container > .menu-button > .arrow-button > .arrow {
    -fx-padding: 0.167em 0 0.25em 0; /* 2 0 3 0 */
}

.menu-bar > .container > .menu-button > .label {
    -fx-padding: 0;
    -fx-label-padding: 0 0 0 0;
}

.menu-bar > .container > .menu > .arrow-button {
    -fx-padding: 0.5em 0 0.5em 0; /* 6 0 6 0 */
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: menu_button_hover_color;

}

.menu-bar > .container > .menu-button > .label,
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing  > .label {
    -fx-text-fill: text_color;
}

/********************************* Menu Item ***********************************/

.menu-item {
    -fx-text-fill: text_color;
    -fx-background-color: menu_background_color;
    -fx-padding: 0.583333em 1em 0.583333em 1em;   /*7 12 7 12 */
}

.menu-item > .right-container,
.menu-item > .left-container {
    -fx-background-color: menu_background_color;
}

.menu-item .label {
    -fx-padding: 0em 1.333333em 0em 0em; /* 0 16 0 0 */
    -fx-text-fill: text_color;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1em; /* 12 */
}

.menu-item > .graphic-container {
    -fx-padding: 0em 0.75em 0em 0em; /* 0 9 0 0 */
}

.radio-menu-item:checked > .left-container > .radio {
    -fx-shape: "M17.939,5.439L7.5,15.889l-5.439-5.449l0.879-0.879L7.5,14.111 l9.561-9.551L17.939,5.439z";

    -fx-padding: 0.416667em 0.583333em 0.416667em 0.583333em;  /* 5 7 5 7 */
    -fx-scale-shape: true;
}

.check-menu-item:checked > .left-container > .check {
    -fx-shape: "M17.939,5.439L7.5,15.889l-5.439-5.449l0.879-0.879L7.5,14.111 l9.561-9.551L17.939,5.439z";

    -fx-padding: 0.416667em 0.583333em 0.416667em 0.583333em;; /* 5 7 5 7 */
    -fx-scale-shape: true;
}

.check-menu-item:checked > .left-container {
    -fx-padding: 0em 1em 0em 0.5em; /* 0 12 0 6 */
}

.radio-menu-item:checked > .left-container {
    -fx-padding: 0em 1em 0em 0.5em; /* 0 12 0 6 */
}

.menu > .right-container > .arrow {
    -fx-padding: 0.458em 0.333333em 0.458em 0.333333em; /* >5 4 >5 4 */
    -fx-shape: "M8.06,20.938L7,20l8-8L7,4l1.06-0.938L16.917,12L8.06,20.938z";
    -fx-scale-shape: true;
}

.radio-menu-item:checked > .left-container > .radio,
.check-menu-item:checked > .left-container > .check,
.menu > .right-container > .arrow {
    -fx-background-color: graphic_color;
}

/* hover */
.menu-item:hover,
.menu-item:focused,
.menu-item:hover > .right-container,
.menu-item:hover > .left-container,
.menu-item:focused > .right-container,
.menu-item:focused > .left-container {
    -fx-background-color: hover_color;
}

/* pressed */
.menu-item:pressed,
.menu-item:pressed > .right-container,
.menu-item:pressed > .left-container {
    -fx-background-color: pressed_color;
}

/* disabled */
.menu-item:disabled:hover,
.menu-item:disabled:focused,
.menu-item:disabled:pressed {
    -fx-background-color: transparent;
}


/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/

/* Text inside header area */
.titled-pane > .title > .text {
    -fx-fill: text_color;

    -fx-font-family: "Segoe UI";
    -fx-font-size: 1em; /* 12 */
}

/* Title header area */
.titled-pane > .title {
    -fx-background-color: border_color, title_background_color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: title_background_color;
}

.titled-pane > .title:hover {
    -fx-background-color: border_color, title_background_hover_color;
}

.titled-pane > .title:hover > .arrow-button {
    -fx-background-color: title_background_hover_color;
}

/* Arrow (for collapsing/expanding) */
.titled-pane > .title > .arrow-button > .arrow {
    -fx-shape: "M 4.21875 10.78125 L 2.78125 12.21875 L 15.28125 24.71875 L 16 25.40625 L 16.71875 24.71875 L 29.21875 12.21875 L 27.78125 10.78125 L 16 22.5625 Z";

    -fx-background-color: arrow_color;

    -fx-effect: null;
}

.titled-pane > .title > .arrow-button > .arrow,
.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-insets: 0, 0;
}

/* Content */
.titled-pane > .content {
    -fx-border-width: 0.083333em; /* 1 */
    -fx-border-color: border_color;

    -fx-background-color: border_color, content_background_color;
    -fx-background-insets: -1 0 0 0, 0 1 1 1;

    -fx-padding: 0.166667em 0 0.166667em 0; /* 2 0 2 0 */
}

/* Disabled */
.titled-pane:disabled,
.titled-pane:disabled > .title,
.titled-pane:disabled > .content {
    -fx-opacity: 0.5;
}

/*******************************************************************************
 *                                                                             *
 * Accordion                                                                   *
 *                                                                             *
 ******************************************************************************/

.accordion > .titled-pane > .title {
    -fx-background-insets: -1 0 0 0, 0 1 1 1, 1 2 2 2;
}

.accordion > .first-titled-pane > .title {
    -fx-background-insets: 0, 1;
}

/*******************************************************************************
 *                                                                             *
 * Progress Indicator                                                          *
 *                                                                             *
 ******************************************************************************/

/*
 * For now most of the CSS in this section is equal to modena.css because the changes introduced by JMetro broke the
 * styles of Progress Indicator. Also accent color now changes according to the accent color defined by JMetro.
 */

.progress-indicator {
    -fx-indeterminate-segment-count: 12;
    -fx-spin-enabled: true;
}
.progress-indicator > .determinate-indicator > .indicator {
    -fx-background-color: -fx-box-border,
    radial-gradient(center 50% 50%, radius 50%, -fx-control-inner-background 70%, derive(-fx-control-inner-background, -9%) 100%),
    -fx-control-inner-background;
    -fx-background-insets: 0, 1, 5 2 1 2;
    -fx-padding: 0.166667em; /* 2px */
}
.progress-indicator > .determinate-indicator > .progress {
    -fx-background-color: accent_color;
    -fx-padding: 0.083333em; /* 1px */
}
.progress-indicator > .determinate-indicator > .tick {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 0.666667em; /* 8 */
    -fx-shape: "M-0.25,6.083c0.843-0.758,4.583,4.833,5.75,4.833S14.5-1.5,15.917-0.917c1.292,0.532-8.75,17.083-10.5,17.083C3,16.167-1.083,6.833-0.25,6.083z";
}
.progress-indicator > .determinate-indicator > .percentage {
    -fx-fill: text_color;
    -fx-font-family: "Segoe UI";
}
.progress-indicator:indeterminate > .spinner {
    /** Applying to undo styling from .spinner, reported in RT-37965 */
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.progress-indicator:indeterminate .segment {
    -fx-background-color: accent_color;
}
.progress-indicator:indeterminate .segment0 {
    -fx-shape:"M41.98 14.74 a3.5,3.5 0 1,1 0,1 Z";
}
.progress-indicator:indeterminate .segment1 {
    -fx-shape:"M33.75 6.51 a3.5,3.5 0 1,1 0,1 Z";
}
.progress-indicator:indeterminate .segment2 {
    -fx-shape:"M22.49 3.5 a3.5,3.5 0 1,1 0,1 Z";
}
.progress-indicator:indeterminate .segment3 {
    -fx-shape:"M11.24 6.51 a3.5,3.5 0 1,1 0,1 Z";
}
.progress-indicator:indeterminate .segment4 {
    -fx-shape:"M3.01 14.74 a3.5,3.5 0 1,1 0,1 Z";
}
.progress-indicator:indeterminate .segment5 {
    -fx-shape:"M0.0 26.0 a3.5,3.5 0 1,1 0,1 Z";
}
.progress-indicator:indeterminate .segment6 {
    -fx-shape:"M3.01 37.25 a3.5,3.5 0 1,1 0,1 Z";
}
.progress-indicator:indeterminate .segment7 {
    -fx-shape:"M11.25 45.48 a3.5,3.5 0 1,1 0,1 Z";
}
.progress-indicator:indeterminate .segment8 {
    -fx-shape:"M22.5 48.5 a3.5,3.5 0 1,1 0,1 Z";
}
.progress-indicator:indeterminate .segment9 {
    -fx-shape:"M33.75 45.48 a3.5,3.5 0 1,1 0,1 Z";
}
.progress-indicator:indeterminate .segment10 {
    -fx-shape:"M41.98 37.25 a3.5,3.5 0 1,1 0,1 Z";
}
.progress-indicator:indeterminate .segment11 {
    -fx-shape:"M45.0 26.0 a3.5,3.5 0 1,1 0,1 Z";
}

/*******************************************************************************
 *                                                                             *
 * Separator                                                                   *
 *                                                                             *
 ******************************************************************************/

.separator:horizontal .line {
    -fx-border-color: transparent transparent transparent transparent,
                      border_color transparent transparent transparent;
    -fx-border-insets: 0, 1 0 0 0;
}
.separator:vertical .line {
    -fx-border-color: transparent transparent transparent border_color,
                      transparent transparent transparent transparent;
    -fx-border-width: 1, 1;
    -fx-border-insets: 0, 0 0 0 1;
}

/*******************************************************************************
 *                                                                             *
 * Charts                                                                      *
 *                                                                             *
 ******************************************************************************/

/*
 * For now most of the CSS in this section and all sections below for Charts are equal to modena.css because the changes introduced by
 * JMetro broke the styles of Charts. There is a change to modena default style to make Chart Legend text color correct.
 */

.chart {
    -fx-padding: 5px;
}
.chart-plot-background {
    -fx-background-color: -fx-background;
}
.chart-content {
    -fx-padding: 10px;
}
.chart-title {
    -fx-font-size: 1.4em;
}
.chart-legend {
    -fx-background-color: -fx-shadow-highlight-color,
    linear-gradient(to bottom, derive(-fx-background, -10%), derive(-fx-background, -5%)),
    linear-gradient(from 0px 0px to 0px 4px, derive(-fx-background, -4%), derive(-fx-background, 10%));
    -fx-background-insets: 0 0 -1 0, 0,1;
    -fx-background-radius: 4,4,3;
    -fx-padding: 6px;
}

.chart-legend > .label {
    -fx-text-fill: #111;
}

/*******************************************************************************
 *                                                                             *
 * Axis                                                                        *
 *                                                                             *
 ******************************************************************************/

.axis {
    AXIS_COLOR: derive(-fx-background,-20%);
    -fx-tick-label-font-size: 0.833333em; /* 10px */
    -fx-tick-label-fill: derive(-fx-text-background-color, 30%);
}
.axis:top {
    -fx-border-color: transparent transparent AXIS_COLOR transparent;
}
.axis:right {
    -fx-border-color: transparent transparent transparent AXIS_COLOR;
}
.axis:bottom {
    -fx-border-color: AXIS_COLOR transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent AXIS_COLOR transparent transparent;
}
.axis:top > .axis-label,
.axis:left > .axis-label {
    -fx-padding: 0 0 4px 0;
}
.axis:bottom > .axis-label,
.axis:right > .axis-label {
    -fx-padding: 4px 0 0 0;
}
.axis-tick-mark,
.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: AXIS_COLOR;
}

/*******************************************************************************
 *                                                                             *
 * ChartPlot                                                                   *
 *                                                                             *
 ******************************************************************************/

.chart-vertical-grid-lines {
    -fx-stroke: derive(-fx-background,-10%);
    -fx-stroke-dash-array: 0.25em, 0.25em;
}
.chart-horizontal-grid-lines {
    -fx-stroke: derive(-fx-background,-10%);
    -fx-stroke-dash-array: 0.25em, 0.25em;
}
.chart-alternative-column-fill {
    -fx-fill: null;
    -fx-stroke: null;
}
.chart-alternative-row-fill {
    -fx-fill: null;
    -fx-stroke: null;
}
.chart-vertical-zero-line,
.chart-horizontal-zero-line {
    -fx-stroke: derive(-fx-text-background-color, 40%);
}

/*******************************************************************************
 *                                                                             *
 * ScatterChart                                                                *
 *                                                                             *
 ******************************************************************************/

.chart-symbol { /* solid circle */
    -fx-background-color: CHART_COLOR_1;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color1.chart-symbol { /* solid square */
    -fx-background-color: CHART_COLOR_2;
    -fx-background-radius: 0;
}
.default-color2.chart-symbol { /* solid diamond */
    -fx-background-color: CHART_COLOR_3;
    -fx-background-radius: 0;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}
.default-color3.chart-symbol { /* cross */
    -fx-background-color: CHART_COLOR_4;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M2,0 L5,4 L8,0 L10,0 L10,2 L6,5 L10,8 L10,10 L8,10 L5,6 L2,10 L0,10 L0,8 L4,5 L0,2 L0,0 Z";
}
.default-color4.chart-symbol { /* solid triangle */
    -fx-background-color: CHART_COLOR_5;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M5,0 L10,8 L0,8 Z";
}
.default-color5.chart-symbol { /* hollow circle */
    -fx-background-color: CHART_COLOR_6, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color6.chart-symbol { /* hollow square */
    -fx-background-color: CHART_COLOR_7, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0;
}
.default-color7.chart-symbol { /* hollow diamond */
    -fx-background-color: CHART_COLOR_8, white;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 2.5;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}

/*******************************************************************************
 *                                                                             *
 * LineChart                                                                     *
 *                                                                             *
 ******************************************************************************/

.chart-line-symbol {
    -fx-background-color: CHART_COLOR_1, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.chart-series-line {
    -fx-stroke: CHART_COLOR_1;
    -fx-stroke-width: 3px;
}
.default-color0.chart-line-symbol { -fx-background-color: CHART_COLOR_1, white; }
.default-color1.chart-line-symbol { -fx-background-color: CHART_COLOR_2, white; }
.default-color2.chart-line-symbol { -fx-background-color: CHART_COLOR_3, white; }
.default-color3.chart-line-symbol { -fx-background-color: CHART_COLOR_4, white; }
.default-color4.chart-line-symbol { -fx-background-color: CHART_COLOR_5, white; }
.default-color5.chart-line-symbol { -fx-background-color: CHART_COLOR_6, white; }
.default-color6.chart-line-symbol { -fx-background-color: CHART_COLOR_7, white; }
.default-color7.chart-line-symbol { -fx-background-color: CHART_COLOR_8, white; }
.default-color0.chart-series-line { -fx-stroke: CHART_COLOR_1; }
.default-color1.chart-series-line { -fx-stroke: CHART_COLOR_2; }
.default-color2.chart-series-line { -fx-stroke: CHART_COLOR_3; }
.default-color3.chart-series-line { -fx-stroke: CHART_COLOR_4; }
.default-color4.chart-series-line { -fx-stroke: CHART_COLOR_5; }
.default-color5.chart-series-line { -fx-stroke: CHART_COLOR_6; }
.default-color6.chart-series-line { -fx-stroke: CHART_COLOR_7; }
.default-color7.chart-series-line { -fx-stroke: CHART_COLOR_8; }

/*******************************************************************************
 *                                                                             *
 * AreaChart                                                                   *
 *                                                                             *
 ******************************************************************************/

.chart-area-symbol {
    -fx-background-color: CHART_COLOR_1, white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px; /* makes sure this remains circular */
    -fx-padding: 3px;
}
.default-color0.chart-area-symbol { -fx-background-color: CHART_COLOR_1, white; }
.default-color1.chart-area-symbol { -fx-background-color: CHART_COLOR_2, white; }
.default-color2.chart-area-symbol { -fx-background-color: CHART_COLOR_3, white; }
.default-color3.chart-area-symbol { -fx-background-color: CHART_COLOR_4, white; }
.default-color4.chart-area-symbol { -fx-background-color: CHART_COLOR_5, white; }
.default-color5.chart-area-symbol { -fx-background-color: CHART_COLOR_6, white; }
.default-color6.chart-area-symbol { -fx-background-color: CHART_COLOR_7, white; }
.default-color7.chart-area-symbol { -fx-background-color: CHART_COLOR_8, white; }
.chart-series-area-line {
    -fx-stroke: CHART_COLOR_1;
    -fx-stroke-width: 1px;
}
.default-color0.chart-series-area-line { -fx-stroke: CHART_COLOR_1; }
.default-color1.chart-series-area-line { -fx-stroke: CHART_COLOR_2; }
.default-color2.chart-series-area-line { -fx-stroke: CHART_COLOR_3; }
.default-color3.chart-series-area-line { -fx-stroke: CHART_COLOR_4; }
.default-color4.chart-series-area-line { -fx-stroke: CHART_COLOR_5; }
.default-color5.chart-series-area-line { -fx-stroke: CHART_COLOR_6; }
.default-color6.chart-series-area-line { -fx-stroke: CHART_COLOR_7; }
.default-color7.chart-series-area-line { -fx-stroke: CHART_COLOR_8; }
.chart-series-area-fill {
    -fx-stroke: null;
    -fx-fill: CHART_COLOR_1_TRANS_20;
}
.default-color0.chart-series-area-fill { -fx-fill: CHART_COLOR_1_TRANS_20; }
.default-color1.chart-series-area-fill { -fx-fill: CHART_COLOR_2_TRANS_20; }
.default-color2.chart-series-area-fill { -fx-fill: CHART_COLOR_3_TRANS_20; }
.default-color3.chart-series-area-fill { -fx-fill: CHART_COLOR_4_TRANS_20; }
.default-color4.chart-series-area-fill { -fx-fill: CHART_COLOR_5_TRANS_20; }
.default-color5.chart-series-area-fill { -fx-fill: CHART_COLOR_6_TRANS_20; }
.default-color6.chart-series-area-fill { -fx-fill: CHART_COLOR_7_TRANS_20; }
.default-color7.chart-series-area-fill { -fx-fill: CHART_COLOR_8_TRANS_20; }
.area-legend-symbol {
    -fx-padding: 6px;
    -fx-background-radius: 6px; /* makes sure this remains circular */
    -fx-background-insets: 0, 3;
}

/*******************************************************************************
 *                                                                             *
 * BubbleChart                                                                 *
 *                                                                             *
 ******************************************************************************/

.bubble-legend-symbol {
    -fx-background-radius: 8px;
    -fx-padding: 8px;
}
.chart-bubble {
    -fx-bubble-fill: CHART_COLOR_1_TRANS_70;
    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, derive(-fx-bubble-fill,20%), derive(-fx-bubble-fill,-30%));
}
.default-color0.chart-bubble { -fx-bubble-fill: CHART_COLOR_1_TRANS_70; }
.default-color1.chart-bubble { -fx-bubble-fill: CHART_COLOR_2_TRANS_70; }
.default-color2.chart-bubble { -fx-bubble-fill: CHART_COLOR_3_TRANS_70; }
.default-color3.chart-bubble { -fx-bubble-fill: CHART_COLOR_4_TRANS_70; }
.default-color4.chart-bubble { -fx-bubble-fill: CHART_COLOR_5_TRANS_70; }
.default-color5.chart-bubble { -fx-bubble-fill: CHART_COLOR_6_TRANS_70; }
.default-color6.chart-bubble { -fx-bubble-fill: CHART_COLOR_7_TRANS_70; }
.default-color7.chart-bubble { -fx-bubble-fill: CHART_COLOR_8_TRANS_70; }

/*******************************************************************************
 *                                                                             *
 * BarChart                                                                    *
 *                                                                             *
 ******************************************************************************/

.chart-bar {
    -fx-bar-fill: CHART_COLOR_1;
    -fx-background-color:   linear-gradient(to right,
    derive(-fx-bar-fill, -4%),
    derive(-fx-bar-fill, -1%),
    derive(-fx-bar-fill, 0%),
    derive(-fx-bar-fill, -1%),
    derive(-fx-bar-fill, -6%)
    );
    -fx-background-insets: 0;
}
.chart-bar.negative {
    -fx-background-insets: 1 0 0 0;
}
.bar-chart:horizontal .chart-bar {
    -fx-background-insets: 0 0 0 1;
}
.bar-chart:horizontal .chart-bar,
.stacked-bar-chart:horizontal .chart-bar {
    -fx-background-color:   linear-gradient(to bottom,
    derive(-fx-bar-fill, -4%),
    derive(-fx-bar-fill, -1%),
    derive(-fx-bar-fill, 0%),
    derive(-fx-bar-fill, -1%),
    derive(-fx-bar-fill, -6%)
    );
}
.default-color0.chart-bar { -fx-bar-fill: CHART_COLOR_1; }
.default-color1.chart-bar { -fx-bar-fill: CHART_COLOR_2; }
.default-color2.chart-bar { -fx-bar-fill: CHART_COLOR_3; }
.default-color3.chart-bar { -fx-bar-fill: CHART_COLOR_4; }
.default-color4.chart-bar { -fx-bar-fill: CHART_COLOR_5; }
.default-color5.chart-bar { -fx-bar-fill: CHART_COLOR_6; }
.default-color6.chart-bar { -fx-bar-fill: CHART_COLOR_7; }
.default-color7.chart-bar { -fx-bar-fill: CHART_COLOR_8; }
.bar-legend-symbol {
    -fx-padding: 8px;
}

/*******************************************************************************
 *                                                                             *
 * PieChart                                                                    *
 *                                                                             *
 ******************************************************************************/

.chart-pie {
    -fx-pie-color: CHART_COLOR_1;
    -fx-background-color: radial-gradient(radius 100%, derive(-fx-pie-color,20%), derive(-fx-pie-color,-10%));
    -fx-background-insets: 1;
    -fx-border-color: -fx-background;
}
.chart-pie-label {
    -fx-padding: 3px;
    -fx-fill: -fx-text-base-color;
}
.chart-pie-label-line {
    -fx-stroke: derive(-fx-background,-20%);
}
.default-color0.chart-pie { -fx-pie-color: CHART_COLOR_1; }
.default-color1.chart-pie { -fx-pie-color: CHART_COLOR_2; }
.default-color2.chart-pie { -fx-pie-color: CHART_COLOR_3; }
.default-color3.chart-pie { -fx-pie-color: CHART_COLOR_4; }
.default-color4.chart-pie { -fx-pie-color: CHART_COLOR_5; }
.default-color5.chart-pie { -fx-pie-color: CHART_COLOR_6; }
.default-color6.chart-pie { -fx-pie-color: CHART_COLOR_7; }
.default-color7.chart-pie { -fx-pie-color: CHART_COLOR_8; }
.negative.chart-pie {
    -fx-pie-color: transparent;
    -fx-background-color: white;
}
.pie-legend-symbol.chart-pie {
    -fx-background-radius: 8px;
    -fx-padding: 8px;
    -fx-border-color: null;
}